services:
  db:
    image: postgres:16-alpine
    container_name: video_hosting_db
    environment:
      POSTGRES_DB: video_hosting_db
      POSTGRES_USER: video_hosting_db
      POSTGRES_PASSWORD: video_hosting_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5434:5432"

  s3:
    image: quay.io/minio/minio:latest
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data


volumes:
  postgres_data:
  minio_data:
